# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Flask instance folder
instance/

# SQLite database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

__pycache__/